<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a11322.lifetrace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 用于加快GPS首次定位-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 用于Android M及以上系统，申请加入忽略电池优化白名单-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name = ".track.TrackApplication">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".LoginActivity"
            android:label="Log in" />
        <activity
            android:name=".SignUpActivity"
            android:label="Sign up" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="MapApp"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".track.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".track.activity.TracingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".track.activity.TrackQueryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".track.activity.FenceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".track.activity.BosActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".track.activity.CacheManageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".track.activity.FAQActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".track.activity.TracingOptionsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".track.activity.TrackQueryOptionsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UserCenterActivity"
            android:label="User Center" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="j8Gc9WmT9RcWHZiinKAmXHTgSsv88cNo" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"
            />
        <activity android:name=".SearchActivity"></activity>
    </application>

</manifest>